<h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
<nav>
	<ul>
		{% for item in site.data.navigation.pages if site.data.navigation.pages %}
			<li class="{{ (item.url == page.url) ? 'active' }}"><a href="{{ item.url }}">{{ item.title }}</a></li>
		{% endfor %}
		{{ (site.data.navigation.pages and site.data.navigation.pages) ? '<hr>' }}
		{% for item in site.data.navigation.site if site.data.navigation.site %}
			<li class="{{ (item.url == page.url) ? 'active' }}"><a href="{{ item.url }}">{{ item.title }}</a></li>
		{% endfor %}
	</ul>
</nav>
